
@{
    ViewBag.Title = "pratice";
}

<h2>pratice</h2>

@* tab *@
<div class="col">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#jquery_add" data-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="fa fa-home"></i></span>
                <span class="hidden-xs">Jquary Add</span>
            </a>
        </li>
        <li class="">
            <a href="#onchange" data-toggle="tab" aria-expanded="false">
                <span class="hidden-xs">jquary onchange</span>
            </a>
        </li>
        <li class="">
            <a href="#jmodal" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">Jquary Modal</span>
            </a>
        </li>
        <li class="">
            <a href="#pview" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">Render Partial View</span>
            </a>
        </li>
        <li class="">
            <a href="#renderaction" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">Render Partial View</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="jquery_add">
            <form>
                <div class="form-group">
                    <label class="label">1st Number</label>
                    <input type="text" id="num1" class="form-control" />
                </div>


                <div class="form-group">
                    <label class="label">2nd Number</label>
                    <input type="text" id="num2" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="label">Result</label>
                    <input type="text" id="result" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="cal">Cal</button>
                    <button type="submit" class="btn btn-purple">submit</button>
                </div>

            </form>
        </div>
        <div class="tab-pane" id="onchange">
            <form>
                <div class="form-group">
                    <label for="cars" class="label">Choose a car:</label>
                    <select name="cars" id="cars" class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="label">Selected Value</label>
                    <input type="text" id="output" class="form-control" readonly />
                </div>
            </form>
        </div>
        <div class="tab-pane" id="jmodal">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">Open Model</button>
            <div class="modal fade" id="mymodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>File Upload Status</h3>
                        </div>
                        <div class="modal-body">
                            <p>Modal Box Test</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pview">
            @Html.Partial("_TryPartialView")
            <br />
            <br />
            @{
                Html.RenderPartial("_TryPartialView");
            }
        </div>
        <div class="tab-pane" id="renderaction">
            @Html.Action("parialview1", "Category")
            <br />
            <br />
            @{
                Html.RenderAction("parialview2", "Category");
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#cal").on("click", function () {
                var a = parseInt($('#num1').val());
                var b = parseInt($('#num2').val());

                var c = a + b;
                $('#result').val(c);
            });

            $("form").submit(function () {
                var a = parseInt($('#num1').val());
                var b = parseInt($('#num2').val());

                var c = a + b;
                $('#result').val(c);
            })

            $("#cars").on("change", function () {
                var selval = $("#cars").val();
                $("#output").val(selval);
            });
        });
    </script>
}