
@{
    ViewBag.Title = "uploadfile";
}

<h2>uploadfile</h2>

@using (Html.BeginForm("uploadfile", "Food", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBox("file", "", new { type = "file" }) <br />
    <button type="submit" class="btn btn-primary">submit</button>
}

    <div>
        @ViewBag.Message
    </div>

